.input-field {
  border: solid .05rem #000;
  height: 3.7rem;
  width: 18.8rem;
}

.map {
  height: 100%;
  width: 100%;
}

.mapContainer {
  height: 100%;
  width: 100%;
}

.Select-control {
  margin-left: 21%;
  width: 58% !important;
}

.textarea-field {
  max-height: 20rem;
  max-width: 90%;
  min-height: 10rem;
}

.facebook-button {
  background-color: #4c69ba;
  color: white;
  margin-bottom: 1rem;
}
