.Select-control {
  width: 19rem;
}

.input-field {
  border: solid .05rem #000;
  height: 3.7rem;
  width: 18.8rem;
}

.map {
  height: 100%;
  width: 100%;
}

.mapContainer {
  width: 100%;
  height: 100%;
}
