.center-component {
  text-align: center;
  margin: 0 0 2rem 0;
  width: 80%;
}

.home-menu-open {
  background-color: #fff;
  height: 768px;
  width: 1366px;
}

.myNav {
  float: left;
  text-align: center;
  padding: 30px;
  width: 30%;
}

.right {
  height: 768px;
  margin-left: 30%;
  object-fit: contain;
  width: 683px;
}
