.center-component {
  margin-bottom: 2rem;
  text-align: center;
  width: 80%;
}

.home-menu-open {
  background-color: #fff;
  display: flex;
  flex-direction: row;
  height: 100%;
}

.myNav {
  display: flex;
  flex-basis: 30%;
  padding: 3rem;
  text-align: center;
}

.right {
  display: flex;
  flex-basis: 70%;
  flex-direction: column;
  object-fit: contain;
}

@media (max-width: 768px) {
  .home-menu-open {
    flex-direction: column;
  }
}
