ul {
  list-style: none;
  margin-top: 1rem !important;
}

.avatar {
  background-color: #2fbcf7;
  border-radius: 50%;
  height: 12.4rem;
  object-fit: contain;
  padding: 2rem;
  width: 12.5rem;
}

.bitmap {
  height: 1.7rem;
  width: 1.7rem;
}

.full-img {
  height: 100%;
  width: 100%;
}

.images-list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: auto;
  width: 40%;

  img {
    height: 2rem;
    width: 2rem;
  }

  .text-container {
    width: 70%;
  }
}

.rounded {
  border-radius: 50%;
  height: 70%;
  object-fit: contain;
  width: 70%;
}

.small-icon {
  height: 1.7rem;
  object-fit: contain;
  width: 1.7rem;
}

.small-icon-grey {
  height: 1.8rem;
  object-fit: contain;
  opacity: .5;
  width: 1.8rem;
}

.topic-list {
  margin: auto;
  width: 3rem;
}
