.bitmap {
  height: 1.7rem;
  width: 1.7rem;
}

.small-icon {
  height: 1.7rem;
  object-fit: contain;
  width: 1.7rem;
}

.small-icon-grey {
  height: 1.8rem;
  object-fit: contain;
  opacity: .5;
  width: 1.8rem;
}

.avatar {
  background-color: #2fbcf7;
  border-radius: 50%;
  height: 12.4rem;
  object-fit: contain;
  padding: 2rem;
  width: 12.5rem;
}

.topic-list {
  margin: auto;
  width: 50%;
}

.topic-football {
  list-style-image: url('../assets/football.png');
}

.topic-movies {
  list-style-image: url('../assets/movies.png');
}

.topic-music {
  list-style-image: url('../assets/music.png');
}

.rounded {
  border-radius: 50%;
  height: 70%;
  object-fit: contain;
  width: 70%;
}

img {
  height: 100%;
  width: 100%;
}
