.forgot-password {
  color: #000;
  font-family: OpenSans;
  font-size: 1.1rem;
  font-weight: 600;
  height: 1.5rem;
  text-align: center;
  width: 13.55rem;
}

.SIGN-UP {
  color: #000;
  font-family: OpenSans;
  font-size: 1.1rem;
  font-weight: 600;
  height: 1.5rem;
  letter-spacing: .17rem;
  text-align: center;
  width: 10.23rem;
}
